<header>
  <div class="container">
      <div class="row align-items-center col-mar-5">
          <div class="col-lg-2 col-5">
              <a class="logo" href="https://bagps.vn/" title="">
                  <img src="https://bagps.vn/public/media//logo.png" title="GIÁM SÁT HÀNH TRÌNH SỐ 1 VIỆT NAM">
              </a>
          </div>
          <div class="col-lg-10 col-7 text-right">
              <nav class="main-nav">
                  <ul id="" class=""><li class=""><a class="smooth" href="https://bagps.vn/gioi-thieu" title="Về chúng tôi" target="">Về chúng tôi</a></li><li class=""><a class="smooth" href="https://bagps.vn/san-pham-va-giai-phap" title="Sản phẩm &amp; Giải pháp" target="">Sản phẩm &amp; Giải pháp</a></li><li class=""><a class="smooth" href="https://bagps.vn/mang-luoi" title="Mạng lưới" target="">Mạng lưới</a></li><li class=""><a class="smooth" href="https://bagps.vn/tuyen-dung-c56" title="Tuyển dụng" target="">Tuyển dụng</a></li><li class=""><a class="smooth" href="https://bagps.vn/tin-tuc-c10" title="Tin tức" target="">Tin tức</a></li></ul>                </nav>
              <div class="login-drop drop">
                  <div class="text label">Đăng nhập</div>
                  <ul>
                      <li><a class="smooth" href="https://gps.binhanh.vn/" target="_blank" title=""><span><img src="public/images/ic2.png" alt="" title=""></span> ô tô / xe tải</a></li>
                      <li><a class="smooth" href="https://taxi.binhanhcorp.com/" target="_blank" title=""><span><img src="public/images/ic4.png" alt="" title=""></span> taxi</a></li>
                      <li><a class="smooth" href="http://xemay.binhanh.vn/" target="_blank" title=""><span><img src="public/images/ic1.png" alt="" title=""></span> xe máy / xe đạp điện</a></li>
                      <li><a class="smooth" href="http://vms.binhanh.vn/" target="_blank" title=""><span><img src="public/images/ic3.png" alt="" title=""></span> tàu cá</a></li>

                  </ul>
              </div>

              <a class="smooth h-call" href="tel:1900 6464" title="" rel="nofollow,noindex"><i class="fa fa-phone"></i></a>
              <div class="search">
                  <button type="button" data-show="#search"><i class="fa fa-search"></i></button>
                  <div class="ct" id="search">
                      <form class="search-fr" action="https://bagps.vn/search">
                          <input maxlength="255" type="text" name="keyword" placeholder="Tìm kiếm ...">
                          <button type="submit"><i class="fa fa-search"></i></button>
                      </form>
                  </div>
              </div>
              <div class="language">
                                      <a class="label" href="https://bagps.vn/?lang=en">EN</a>
              </div>
              <button class="menu-btn m-nav-open" type="button"><i></i></button>
          </div>
      </div>
  </div>
</header>