/* You can add global styles to this file, and also import other style files */
.topbar {
    font-size: 14px;
    background: #0d2d6c;
    font-family: "Roboto";
    line-height: 1.5;
    color: #fff;
    font-weight: 500;
    overflow-x: hidden;
    margin-bottom: 24px;
}

.nav-link {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.carousel-item {
    max-height: 600px;
}
.navbar-toggler
{
    margin-left: 24px;
}
.img_about {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    float: left;
}


/* body {
    font-size: 14px;
    background: #0d2d6c;
    font-family: "Roboto";
    line-height: 1.5;
    color: #fff;
    overflow-x: hidden;
}
header {
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    padding: 23px 0;
    transition: all .2s ease-in-out;
}
footer {
    font-size: 15px;
    line-height: 26px;
    padding-top: 255px;
    padding-bottom: 20px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 
header .logo {
    display: inline-block;
    vertical-align: middle;
}
.col-mar-5 {
    margin-left: -5px;
    margin-right: -5px;
}
.login-drop {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    margin-right: 25px;
}
.navbar-root{
    background: #0d2d6c;
    color: #fff;
} */