<div class="footer">
    <div class="container">
        <div class="row distance_row_footer"></div>
        <div class="row">
            <div class="col-lg-5 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a class="logo" href="https://bagps.vn/" title="GIÁM SÁT HÀNH TRÌNH SỐ 1 VIỆT NAM">
                    <img src="https://bagps.vn/public/media//logo.png" alt="GIÁM SÁT HÀNH TRÌNH SỐ 1 VIỆT NAM"
                        title="GIÁM SÁT HÀNH TRÌNH SỐ 1 VIỆT NAM">
                </a>
                <h3 class="name">CÔNG TY TNHH PHÁT TRIỂN CÔNG NGHỆ ĐIỆN TỬ BÌNH ANH</h3>
                <div class="f-line">
                    <i class="bi bi-map-fill"></i> <strong>TRỤ SỞ CHÍNH:</strong> Lô 14 phố Nguyễn Cảnh Dị, Q. Hoàng
                    Mai, Hà Nội
                </div>
                <div class="f-lines">
                    <div class="f-line">
                        <i class="bi bi-headphones"></i> 1900 6464
                    </div>
                    <div class="f-line">
                        <i class="bi bi-phone"></i> 024 7300 9090
                    </div>
                    <div class="f-line">
                        <i class="bi bi-printer"></i> 024 628 84901
                    </div>
                </div>
                <div class="f-line">
                    <i class="bi bi-at"></i> pdvkh&#64;bagroup.vn
                </div>
                <div class="f-line">
                    <i class="bi bi-clock"></i> Khối dịch vụ: <strong>24/7</strong> &nbsp; <span class="dash">-</span>
                    &nbsp; <span>Khối văn phòng: <strong>T.2 - T.6 (8:00 - 17:45)</strong></span>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row justify-content-between">
                    <div class="col-md-auto col-sm-7 ft-item wow fadeInUp" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <h4 class="f-title">Thương hiệu <i class="bi bi-chevron-down"></i></h4>
                        <ul style="list-style-type: none;color: white;font-size: 14px;">
                            <li class="">
                                <a class="smooth" href="https://bagps.vn/gioi-thieu" title="Về chúng tôi" target="">Về
                                    chúng tôi</a>
                            </li>
                            <li class="">
                                <a class="smooth" href="https://bagps.vn/san-pham-va-giai-phap"
                                    title="Sản phẩm &amp; giải pháp" target="">Sản phẩm &amp; giải pháp</a>
                            </li>
                            <li class="">
                                <a class="smooth" href="https://bagps.vn/mang-luoi" title="Mạng lưới" target="">Mạng
                                    lưới</a>
                            </li>
                            <li class="">
                                <a class="smooth" href="https://bagps.vn/tuyen-dung-c56" title="Cơ hội việc làm"
                                    target="">Cơ hội việc làm</a>
                            </li>
                            <li class="">
                                <a class="smooth" href="https://bagps.vn/tin-tuc-c10" title="Tin tức" target="">Tin
                                    tức</a>
                            </li>
                            <li class="">
                                <a class="smooth" href="https://bagps.vn/document" title="Thư viện" target="">Thư
                                    viện</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-auto col-sm-5 ft-item wow fadeInUp" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h4 class="f-title">Hỗ trợ <i class="bi bi-chevron-down"></i></h4>
                        <ul id="" class="link">
                            <li class=""><a class="smooth" href="https://bagps.vn/lien-he" title="FAQ - Hỏi đáp"
                                    target="_blank">FAQ - Hỏi đáp</a></li>
                            <li class=""><a class="smooth" href="https://bagps.vn/document" title="Chính sách"
                                    target="_blank">Chính sách</a></li>
                            <li class=""><a class="smooth" href="https://bagps.vn/lien-he" title="Liên hệ"
                                    target="_blank">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-auto text-md-right wow fadeInUp" data-wow-delay="0.3s"
                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <h4 class="f-title">Đăng ký nhận tin</h4>
                        <form id="formSubscribe" class="subsciber-fr">
                            <input type="text" name="email" placeholder="Địa chỉ email *">
                            <button class="smooth">Gửi</button>
                        </form>
                        <div class="f-social">
                            <a target="_blank" class="smooth" rel="nofollow" href="https://www.facebook.com/binhanh.vn/"
                                title="">
                                <img src="https://bagps.vn/public/images/facebook.png" alt="">
                            </a>
                            <a target="_blank" class="smooth" rel="nofollow"
                                href="https://www.youtube.com/channel/UC0vfDfFTKXXV_d7m86b1MhQ" title="">
                                <img src="https://bagps.vn/public/images/youtube.png" alt="">
                            </a>
                            <a target="_blank" class="smooth" rel="nofollow" href="https://zalo.me/1958838581480438876"
                                title="">
                                <img src="https://bagps.vn/public/images/zalo.png" alt="">
                            </a>
                        </div>
                        <div class="f-bct">
                            <a target="_blank" class="smooth" rel="nofollow"
                                href="http://online.gov.vn/Home/WebDetails/50423" title=""><img
                                    src="https://bagps.vn/public/images/logoBoCongThuong.png" alt=""></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>