<div class="modal fade show" tabindex="-1" style="display: block;" aria-modal="true" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog custom-modal-width">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{{title}}</div>
                <button type="button" class="btn-close" (click)="onCancel()"></button>
            </div>
            <div class="modal-body">
                <!-- <form [formGroup]="editUserForm" >
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label text-start">Tên đăng nhập <span
                                class="labelrequired">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" formControlName="username"
                                [readonly]="isEdit" required>
                            <div *ngIf="editUserForm.get('username')?.errors?.['required'] && editUserForm.get('username')?.touched"
                                class="mt-3 text-danger text-start">
                                Tên đăng nhập không được để trống.</div>
                            <div *ngIf="editUserForm.get('username')?.errors?.['maxlength']"
                                class="mt-3 text-danger text-start">
                                Tên đăng nhập không quá 50 ký tự.</div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label text-start">Họ tên nhân viên <span
                                class="labelrequired">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" formControlName="fullName" required>
                            <div *ngIf="editUserForm.get('fullName')?.errors?.['required'] && editUserForm.get('fullName')?.touched"
                                class="mt-3 text-danger text-start">
                                Tên nhân viên không được để trống.</div>
                            <div *ngIf="editUserForm.get('fullName')?.errors?.['maxlength']"
                                class="text-danger text-start mt-3">
                                Tên tối đa 200 ký tự.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label text-start">Ngày sinh <span
                                class="labelrequired">*</span></label>
                        <div class="col-sm-9 row">
                            <div class="col-sm-7 formGroup">
                                <datepicker formControlName="birthDate" [displayFormatter]="displaybirthDateFormatter"
                                    [showIcon]="true">
                                </datepicker>
                                <div *ngIf="editUserForm.get('birthDate')?.errors?.['required'] && editUserForm.get('birthDate')?.touched"
                                    class="mt-3 text-danger text-start">
                                    Ngày sinh không được để trống.</div>
                                <div *ngIf="editUserForm.get('birthDate')?.errors?.['underage']"
                                    class="text-danger text-start mt-3">
                                    Tuổi lớn hơn 18
                                </div>
                            </div>
                            <div class="col-sm-5 formGroup">
                                <select class="form-control form-control-sm" formControlName="gender">
                                    <option *ngFor="let gender of genderOptions" [value]="gender.value">{{
                                        gender.display }}
                                    </option>
                                </select>
                                <div *ngIf="editUserForm.get('gender')?.invalid && editUserForm.get('gender')?.touched"
                                    class="text-danger">
                                    Chọn giới tính.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label text-start">Số điện thoại <span
                                class="labelrequired">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" formControlName="phoneNumber"
                                placeholder="0818911987">
                            <div *ngIf="editUserForm.get('phoneNumber')?.errors?.['required'] && editUserForm.get('phoneNumber')?.touched"
                                class="mt-3 text-danger text-start">
                                Số điện thoại không được để trống.</div>
                            <div *ngIf="editUserForm.get('phoneNumber')?.errors?.['pattern']"
                                class="text-danger text-start mt-3">
                                Chỉ gồm số và tối đa 10 ký tự số (bắt đầu bằng số 0).
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label text-start">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" formControlName="email">
                        </div>
                    </div>
                    <div class="mb-3 row" *ngIf="!isEdit">
                        <label class="col-sm-3 col-form-label text-start">Mật khẩu <span
                                class="labelrequired">*</span></label>
                        <div class="col-sm-9">
                            <div class="input-group flex-nowrap">
                                <input [type]="passwordFieldType" class="form-control form-control-sm"
                                    formControlName="password" [disabled]="isEdit">
                                <span class="input-group-text" id="addon-wrapping"
                                    (click)="togglePasswordVisibility()"><i class="fa-regular fa-eye"></i></span>
                            </div>
                            <div *ngIf="editUserForm.get('password')?.errors?.['required'] && editUserForm.get('password')?.touched"
                                class="mt-3 text-danger text-start">
                                Mật khẩu không được để trống.</div>
                            <div *ngIf="editUserForm.get('password')?.errors?.['minlength']"
                                class="mt-3 text-danger text-start">
                                mật khẩu tối thiểu 6 ký tự.</div>
                            <div *ngIf="editUserForm.get('password')?.errors?.['maxlength']"
                                class="mt-3 text-danger text-start">
                                mật khẩu tối đa không quá 100 ký tự.</div>
                        </div>
                    </div>
                    <div class="mb-3 row" *ngIf="!isEdit">
                        <label class="col-sm-3 col-form-label text-start">Nhập lại mật khẩu <span
                                class="labelrequired">*</span></label>
                        <div class="col-sm-9">
                            <div class="input-group flex-nowrap">
                                <input [type]="confimPasswordFieldType" class="form-control form-control-sm"
                                    [disabled]="isEdit" formControlName="confimPassword">
                                <span class="input-group-text" id="addon-wrapping"
                                    (click)="toggleconfimPasswordVisibility()"><i class="fa-regular fa-eye"></i></span>
                            </div>
                            <div *ngIf="editUserForm.get('confimPassword')?.errors?.['required'] && editUserForm.get('confimPassword')?.touched"
                                class="mt-3 text-danger text-start">
                                Mật khẩu không được để trống.</div>
                            <div *ngIf="editUserForm.get('confimPassword')?.errors?.['minlength']"
                                class="mt-3 text-danger text-start">
                                mật khẩu tối thiểu 6 ký tự.</div>
                            <div *ngIf="editUserForm.get('confimPassword')?.errors?.['maxlength']"
                                class="mt-3 text-danger text-start">
                                mật khẩu tối đa không quá 100 ký tự.</div>
                        </div>
                    </div>
                </form> -->

                <form [formGroup]="editUserForm" >
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label text-start">Tên đăng nhập <span
                                class="labelrequired">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" formControlName="username"
                                [readonly]="isEdit" required>
                            <div *ngIf="editUserForm.get('username')?.errors?.['required'] && editUserForm.get('username')?.touched"
                                class="mt-3 text-danger text-start">
                                Tên đăng nhập không được để trống.</div>
                            <div *ngIf="editUserForm.get('username')?.errors?.['maxlength']"
                                class="mt-3 text-danger text-start">
                                Tên đăng nhập không quá 50 ký tự.</div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label text-start">Họ tên nhân viên <span
                                class="labelrequired">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" formControlName="fullName" required>
                            <div *ngIf="editUserForm.get('fullName')?.errors?.['required'] && editUserForm.get('fullName')?.touched"
                                class="mt-3 text-danger text-start">
                                Tên nhân viên không được để trống.</div>
                            <div *ngIf="editUserForm.get('fullName')?.errors?.['maxlength']"
                                class="text-danger text-start mt-3">
                                Tên tối đa 200 ký tự.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label text-start">Ngày sinh <span
                                class="labelrequired">*</span></label>
                        <div class="col-sm-9 row">
                            <div class="col-sm-7 formGroup">
                                <datepicker formControlName="birthDate" [displayFormatter]="displaybirthDateFormatter"
                                    [showIcon]="true">
                                </datepicker>
                                <div *ngIf="editUserForm.get('birthDate')?.errors?.['required'] && editUserForm.get('birthDate')?.touched"
                                    class="mt-3 text-danger text-start">
                                    Ngày sinh không được để trống.</div>
                                <div *ngIf="editUserForm.get('birthDate')?.errors?.['underage']"
                                    class="text-danger text-start mt-3">
                                    Tuổi lớn hơn 18
                                </div>
                            </div>
                            <div class="col-sm-5 formGroup">
                                <select class="form-control form-control-sm" formControlName="gender">
                                    <option *ngFor="let gender of genderOptions" [value]="gender.value">{{
                                        gender.display }}
                                    </option>
                                </select>
                                <div *ngIf="editUserForm.get('gender')?.invalid && editUserForm.get('gender')?.touched"
                                    class="text-danger">
                                    Chọn giới tính.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label text-start">Số điện thoại <span
                                class="labelrequired">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" formControlName="phoneNumber"
                                placeholder="0818911987">
                            <div *ngIf="editUserForm.get('phoneNumber')?.errors?.['required'] && editUserForm.get('phoneNumber')?.touched"
                                class="mt-3 text-danger text-start">
                                Số điện thoại không được để trống.</div>
                            <div *ngIf="editUserForm.get('phoneNumber')?.errors?.['pattern']"
                                class="text-danger text-start mt-3">
                                Chỉ gồm số và tối đa 10 ký tự số (bắt đầu bằng số 0).
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label text-start">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" formControlName="email">
                        </div>
                    </div>
                    <div class="mb-3 row" *ngIf="!isEdit">
                        <label class="col-sm-3 col-form-label text-start">Mật khẩu <span
                                class="labelrequired">*</span></label>
                        <div class="col-sm-9">
                            <div class="input-group flex-nowrap">
                                <input [type]="passwordFieldType" class="form-control form-control-sm"
                                    formControlName="password" [disabled]="isEdit">
                                <span class="input-group-text" id="addon-wrapping"
                                    (click)="togglePasswordVisibility()"><i class="fa-regular fa-eye"></i></span>
                            </div>
                            <div *ngIf="editUserForm.get('password')?.errors?.['required'] && editUserForm.get('password')?.touched"
                                class="mt-3 text-danger text-start">
                                Mật khẩu không được để trống.</div>
                            <div *ngIf="editUserForm.get('password')?.errors?.['minlength']"
                                class="mt-3 text-danger text-start">
                                mật khẩu tối thiểu 6 ký tự.</div>
                            <div *ngIf="editUserForm.get('password')?.errors?.['maxlength']"
                                class="mt-3 text-danger text-start">
                                mật khẩu tối đa không quá 100 ký tự.</div>
                        </div>
                    </div>
                    <div class="mb-3 row" *ngIf="!isEdit">
                        <label class="col-sm-3 col-form-label text-start">Nhập lại mật khẩu <span
                                class="labelrequired">*</span></label>
                        <div class="col-sm-9">
                            <div class="input-group flex-nowrap">
                                <input [type]="confimPasswordFieldType" class="form-control form-control-sm"
                                    [disabled]="isEdit" formControlName="confimPassword">
                                <span class="input-group-text" id="addon-wrapping"
                                    (click)="toggleconfimPasswordVisibility()"><i class="fa-regular fa-eye"></i></span>
                            </div>
                            <div *ngIf="editUserForm.get('confimPassword')?.errors?.['required'] && editUserForm.get('confimPassword')?.touched"
                                class="mt-3 text-danger text-start">
                                Mật khẩu không được để trống.</div>
                            <div *ngIf="editUserForm.get('confimPassword')?.errors?.['minlength']"
                                class="mt-3 text-danger text-start">
                                mật khẩu tối thiểu 6 ký tự.</div>
                            <div *ngIf="editUserForm.get('confimPassword')?.errors?.['maxlength']"
                                class="mt-3 text-danger text-start">
                                mật khẩu tối đa không quá 100 ký tự.</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" [disabled]="editUserForm.invalid"
                    (click)="onSave()">Cập
                    nhật</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="onCancel()">Hủy</button>
            </div>
        </div>

    </div>
</div>

<app-toast></app-toast>