<div class="footer">
    <div class="row">
        <div class="col-md p-0 ">
            <div class="row mt-4">
                <div class="branch col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <label>TRỤ SỞ HÀ NỘI</label>
                    <div class="smooth">Lô 14 Nguyễn Cảnh Dị, P. Đại Kim, Q. Hoàng Mai, TP. Hà
                        Nội.</div>
                </div>
                <div class="branch col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <label>HẢI PHÒNG</label>
                    <div class="smooth">Căn BH 01- 47 Khu đô thị Vinhomes Imperia, Đ. Bạch Đằng,
                        P. Thượng Lý, Q. Hồng Bàng, TP. Hải Phòng.</div>
                </div>
                <div class="branch col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <label>VĂN PHÒNG MIỀN TRUNG</label>
                    <div class="smooth">Số B5-15, ngõ 26, Đ. Nguyễn Thái Học, TP. Vinh, Nghệ An.
                    </div>
                </div>
                <div class="branch col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <label>ĐÀ NẴNG</label>
                    <div class="smooth">Lô 1 Khu B2-19, KĐT Biệt thự sinh thái, P. Hòa Quý, Ngũ
                        Hành Sơn, TP. Đà Nẵng.</div>
                </div>
                <div class="branch col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <label>TP. HỒ CHÍ MINH</label>
                    <div class="smooth">Số 9, Đường 37, KĐT Vạn Phúc, P. Hiệp Bình Phước, TP. Thủ
                        Đức, TP. Hồ Chí Minh.</div>
                </div>
            </div>
        </div>
        <div class="col-md-auto px-0 py-3 text-center">
            <a target="_blank" class="store"
                href="https://play.google.com/store/apps/details?id=vn.bagps.gpsmobile"><img
                    src="/assets/images/login/app-store-google.png" title="AppAndroid"></a>
            <a target="_blank" class="store"
                href="https://itunes.apple.com/us/app/ba-gps/id1466206178?ls=1&amp;mt=8"><img
                    src="/assets/images/login/app-store-ios.svg" title="Appstore"></a>
            <div class="mt-1">
                <div class="social"><a target="_blank" href="https://www.facebook.com/giamsathanhtrinhbinhanh/"><img
                            src="/assets/images/login/social/facebook.svg" title="Facebook"></a></div>
                <div class="social"><a target="_blank" href="https://zalo.me/1958838581480438876"><img
                            src="/assets/images/login/social/zalo.svg" title="Zalo"></a></div>
                <div class="social"><a target="_blank" href="https://www.youtube.com/@BAGPS"><img
                            src="/assets/images/login/social/youtube.svg" title="Youtube"></a></div>

            </div>
        </div>
    </div>
</div>