.title-page
{
    font-size: 13px;
    font-weight: 600;
}
.input-group {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.input-group-drop {
    width: 100%;
}

.input-group img {
    height: 15px;
    width: 15px;
}

.form-outline i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.fw-normal
{
    font-size: 12px;
    font-weight: 400;
}

